* {
    box-sizing: border-box;
    margin: 0px;
}

body, html {
    height: 100vh;
    background: #effbf3;
}

header {
    background: #149FA8;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 8px 15px;
    max-height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-logo {
    max-width: 200px;
}

nav {
    margin: 0 auto;
    align-self: flex-end;
}


.nav-btn {
    padding: 10px 30px;
    font-size: 2.5rem;
    margin: 0 15px;
    border: none;
    background: none;
    color: #CAE6D3;
    font-weight: 600;
    position: relative; 
}

.nav-btn::after {
    content: '';
    position: absolute;
    background-color: #06303E;
    height: 5px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: width 0.3s ease;
}

.nav-btn:hover::after {
    width: 100%;
}

.nav-btn:hover {
    color: #06303E;
    transition: color 0.3s ease;
    cursor: pointer;
}